# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build products
NotchoCam.app/
*.app

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Temporary
*.swp
*.lock
*~.nib
